:root {
  --color-primario: hsla(194, 67%, 76%, 0.9);
  --color-secundario: hsl(194, 53%, 49%);
  --color-formulario: #388096;
}

.cabecera {
  border-bottom: 3px solid #0b3b49;
}

.contenedor-body {
  background-image: url(./wallpaperPrinicpal.png);
  background-attachment: fixed;
  position: relative;
}

.titulo {
  font-family: "Press Start 2P";
  color: #151515;
  font-size: 25px;
  margin-bottom: 0;
}

.navegador {
  background-color: var(--color-secundario);
}

.listado-navegacion {
  margin-bottom: 0;
}

.listado-navegacion a {
  transition: 200ms all;
}

.listado-navegacion a:hover {
  text-decoration: none;
  color: white;
}

.navegador a {
  font-weight: bold;
  font-size: 25px;
  color: #151515;
  font-size: 1.5rem;
}

.contenido-total {
  margin-top: 60px;
  margin-bottom: 40px;
}

.contenido-principal {
  padding-top: 85px;
  position: relative;
}

.boton-principal {
  width: 45%;
  background-color: var(--color-formulario);
  border: 0;
}

.fondo-login {
  background-color: hsla(0, 0%, 13%, 0.7);
}

.login-form,
.registro-form {
  background-color: var(--color-formulario);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  top: 100px;
  padding: 30px;
  padding-bottom: 20px;
  box-shadow: 0 0 50px 2000px hsla(0, 0%, 13%, 0.7);
  font-size: 20px;
}

.boton-formulario {
  padding: 10px 30px;
}

.mensaje {
  padding-top: 25px;
  padding-bottom: 0;
  text-align: center;
  color: rgb(192, 15, 15);
  font-weight: bold;
}

.contenedor-secundario {
  background-color: var(--color-primario);
  border-radius: 10px;
}

.titulo-aside {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: #222;
  text-align: center;
  margin: 25px 0;
}

.footer {
  background-color: var(--color-secundario);
}
