:root {
  --color-primario: hsla(194, 67%, 76%, 0.9);
  --color-secundario: hsl(194, 53%, 49%);
  --color-formulario: #388096;
  --sombra-cajas: 5px 5px 8px #222;
}

.cabecera {
  border-bottom: 3px solid #0b3b49;
}

.contenedor-body {
  background-image: url(./wallpaperPrinicpal.png);
  background-attachment: fixed;
}

.titulo {
  font-family: "Press Start 2P";
  color: #151515;
  font-size: 25px;
  margin-bottom: 0;
}

.navegador {
  background-color: var(--color-secundario);
}

.listado-navegacion {
  margin-bottom: 0;
}

.listado-navegacion a {
  transition: 200ms all;
}

.listado-navegacion a:hover {
  text-decoration: none;
  color: white;
}

.navegador a {
  font-weight: bold;
  font-size: 25px;
  color: #151515;
  font-size: 1.5rem;
}

.contenido-total {
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
}

.contenido-principal {
  padding-top: 85px;
  position: relative;
}

.contenedor-botones {
  margin-top: 35px;
}

.boton-principal {
  width: 45%;
  background-color: var(--color-formulario);
  border: 0;
}

.fondo-login {
  background-color: hsla(0, 0%, 13%, 0.7);
}

.login-form,
.registro-form {
  background-color: var(--color-formulario);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 20px;
  box-shadow: 0 0 50px 2000px hsla(0, 0%, 13%, 0.7);
  font-size: 20px;
}

.boton-formulario {
  padding: 10px 30px;
}

.mensaje {
  padding-top: 25px;
  padding-bottom: 0;
  text-align: center;
  color: rgb(192, 15, 15);
  font-weight: bold;
}

.contenedor-secundario {
  background-color: var(--color-primario);
  border-radius: 10px;
}

.titulo-aside {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: #222;
  text-align: center;
  margin: 25px 0;
}

.persona-listado {
  margin-bottom: 30px;
}

.footer {
  background-color: var(--color-secundario);
}

.fijar-centro {
  position: fixed;
}

.codecat-principal {
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: calc(100vh - 77px);
  background-color: var(--color-primario);
  justify-content: center;
}

.habitacion {
  background-image: url(./habitacion.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.seccion-menu {
  align-self: center;
  height: 400px;
  display: flex;
}

.menu {
  background-color: var(--color-formulario);
  width: 90%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: var(--sombra-cajas);
}

.info-cat {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primario);
  border-radius: 10px;
  font-size: 10px;
  box-shadow: 3px 3px 3px #084757;
}

.lista-info {
  margin-bottom: 0;
}

.boton-menu {
  padding: 20px 0;
  box-shadow: 3px 3px 3px #084757;
}

.ventana-ejercicios {
  display: flex;
  align-items: center;
}

.listado-ejercicios {
  background-color: #c1712a;
  border: 2px solid #222;
  border-radius: 10px;
  align-items: center;
  flex: 1;
  box-shadow: var(--sombra-cajas);
}

.elemento-ejercicios {
  padding: 10px;
}

.ejercicio {
  position: relative !important;
  padding: 15px;
  background-color: #f4c97d;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #744900;
}
.bloqueado {
  font-size: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000087;
  border-radius: 10px;
}

.icono {
  font-size: 40px;
  color: black;
  cursor: pointer;
}

@media (min-width: 992px) {
  .codecat-principal {
    padding-top: 50px;
  }
  .seccion-menu {
    height: 500px;
  }
  .info-cat {
    font-size: 15px;
  }
}
