:root {
  --color-primario: hsla(194, 67%, 76%, 0.9);
  --color-secundario: hsl(194, 53%, 49%);
  --color-formulario: #388096;
  --sombra-cajas: 5px 5px 8px #222;
  --azul: rgb(41, 131, 233);
}

.cabecera {
  border-bottom: 3px solid #0b3b49;
}

.contenedor-body {
  background-image: url(./wallpaperPrinicpal.png);
  background-attachment: fixed;
}

.titulo {
  font-family: "Press Start 2P";
  color: #151515;
  font-size: 25px;
  margin: auto;
}

.navegador {
  background-color: var(--color-secundario);
}

.listado-navegacion {
  margin-bottom: 0;
}

.listado-navegacion a {
  transition: 200ms all;
}

.listado-navegacion a:hover {
  text-decoration: none;
  color: white;
}

.navegador a {
  font-weight: bold;
  font-size: 25px;
  color: #151515;
  font-size: 1.5rem;
}

.contenido-total {
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
}

.contenido-principal {
  padding-top: 85px;
  position: relative;
}

.contenedor-botones {
  margin-top: 35px;
}

.boton-principal {
  width: 45%;
  background-color: var(--color-formulario);
  border: 0;
}

.boton-principal:hover {
  background-color: #ed9d61;
}

.fondo-login {
  background-color: hsla(0, 0%, 13%, 0.7);
}

.login-form,
.registro-form {
  background-color: var(--color-formulario);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  padding: 30px;
  padding-bottom: 20px;
  box-shadow: 0 0 50px 2000px hsla(0, 0%, 13%, 0.7);
  font-size: 20px;
}

.boton-formulario-cancelar {
  padding: 10px 30px;
}

.boton-formulario-submit {
  padding: 10px 30px;
  background-color: #c97b40;
  border: 0;
}

.boton-formulario-submit:hover {
  background-color: #ed9d61;
}

.mensaje {
  padding-top: 25px;
  padding-bottom: 0;
  text-align: center;
  color: rgb(192, 15, 15);
  font-weight: bold;
}

.contenedor-secundario {
  background-color: var(--color-primario);
  border-radius: 10px;
}

.titulo-aside {
  font-family: "Press Start 2P";
  font-size: 20px;
  color: #222;
  text-align: center;
  margin: 25px 0;
}

.persona-listado {
  margin-bottom: 30px;
}

.footer {
  background-color: var(--color-secundario);
}

.fijar-centro {
  position: fixed;
}

.codecat-principal {
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: calc(100vh - 77px);
  background-color: var(--color-primario);
  justify-content: center;
}

.codecat-principal.contenedor-monitor {
  justify-content: start;
}

.boton-monitor {
  width: 10%;
}

.boton-monitor:hover {
  background-color: #ed9d61;
}

.habitacion {
  background-image: url(./habitacion.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.seccion-menu {
  align-self: start;
  height: 400px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.experiencia {
  margin-top: 10px;
}

.barra-progreso {
  background-color: lightblue;
  min-height: 12px;
  width: 75%;
  align-self: center;
}

.info-cat {
  padding: 40px 15px 30px 15px;
  align-items: center;
  background-image: url(./panel-gato.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 10px;
  margin-left: 3px;
}

.lista-info {
  margin-bottom: 0;
}

.dato-info {
  display: flex;
  justify-content: space-between;
  background-color: hsla(37, 98%, 78%, 0.5);
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 13px;
  padding: 0 10px;
}

.span-info {
  flex: 1;
}

.botones-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  background-image: url(fondo-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 268px;
  font-size: 13px;
}

.boton-menu {
  padding: 20px 0;
  background-color: transparent;
  border: 0;
  align-self: center;
  min-height: 50px;
  min-width: 140px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 13px;
}

.boton-menu:hover {
  background-color: transparent;
}

.boton-formacion {
  background-image: url(post-lila.png);
}

.boton-trabajo {
  background-image: url(post-azul.png);
}

.boton-tienda {
  background-image: url(post-naranja.png);
}

.ventana-ejercicios {
  display: flex;
  align-items: center;
}

.listado-ejercicios {
  background-color: #e68937;
  border-radius: 10px;
  align-items: center;
  flex: 1;
  box-shadow: 5px 5px 8px #6b7b93;
}

.elemento-ejercicios {
  padding: 10px;
}

.ejercicio {
  position: relative !important;
  padding: 15px;
  background-color: #fed38e;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #c5531d;
  cursor: pointer;
  transition: 200ms all;
}

.ejercicio:hover {
  background-color: #e9b561;
}

.bloqueado {
  font-size: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #00000087;
  border-radius: 10px;
}
.bloqueado svg {
  margin: 5px;
}

.completado {
  font-size: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  color: rgb(126, 172, 57);
}
.completado svg {
  margin: 5px;
}
.icono {
  font-size: 40px;
  color: black;
  cursor: pointer;
}

.icono-tarea {
  font-size: 30px;
}

.icono-error {
  color: red;
}

/* Loading */

.puntos {
  position: relative;
  left: 20px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: var(--azul);
  color: var(--azul);
  animation: puntosVariantes 0.8s infinite linear alternate;
  animation-delay: 0.4s;
}

.puntos::before,
.puntos::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.puntos::before {
  left: -15px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: var(--azul);
  color: var(--azul);
  animation: puntosVariantes 0.8s infinite alternate;
  animation-delay: 0s;
}

.puntos::after {
  left: 15px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  background-color: var(--azul);
  color: var(--azul);
  animation: puntosVariantes 0.8s infinite alternate;
  animation-delay: 0.8s;
}

/* Ejercicios */

.ejercicio input {
  height: 20px;
  width: 60px;
}

.ejercicio span {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.ejercicio > * {
  text-align: center !important;
}
.ejercicio > * {
  text-align: center !important;
}

.input-ejercicio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 20px;
  flex-wrap: wrap;
}
.input-ejercicio input[type="text"],
select {
  background-color: #3c3836;
  color: rgb(70, 230, 70);
}

.etiqueta-cierre input {
  cursor: auto;
}

.ejercicio .primer-input,
.ejercicio .ultimo-input {
  justify-content: center;
}

.nombre-gato {
  background-color: white;
  padding: 5px 0;
  border-bottom-left-radius: 0px !important;
  border-radius: 30px;
  border: 1px solid rgb(59, 59, 59);
}
/* locutor */
.locutor {
  left: 20px;
  width: 200px;
}

@keyframes puntosVariantes {
  0% {
    background-color: var(--azul);
  }
  50%,
  100% {
    background-color: #ebe6ff00;
  }
}
.loading {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--azul);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.contenedor-loading {
  display: flex;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 202, 202, 0.61);
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
}

.formulario-nombre-gato {
  background-color: #c1712a;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.formulario-nombre-gato button {
  background-color: #744900;
  color: white;
}

.formulario-nombre-gato button:hover {
  color: white;
  border: 1px solid black;
}

.monitor {
  background-image: url(./pantalla.png);
  background-repeat: no-repeat;
  font-family: "Press Start 2P";
  padding: 70px 70px 0px 90px;
  color: rgb(70, 230, 70);
  display: flex;
  flex-flow: wrap;
  max-width: 850px;
  min-height: 615px;
}

.contenido-ejercicio {
  max-height: 440px;
  max-width: 710px;
  overflow-y: auto;
  border-radius: 15px;
}

.enunciado {
  margin-top: 20px;
  font-size: 18px;
}

.texto-ejercicio {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

.enlace-volver {
  background-color: #dd8e52;
  border: 0;
}

.enlace-volver:hover {
  background-color: #945823;
}

.comprobar-ejercicio {
  margin: 0 auto;
  padding: 5px;
}

.boton-tarea {
  cursor: pointer;
}

.tipo-test select {
  width: 100px;
}

.tipo-test .espaciado {
  color: #3c3836;
}

@media (min-width: 992px) {
  .codecat-principal {
    padding-top: 50px;
  }
  .seccion-menu {
    height: 500px;
  }
  .info-cat {
    font-size: 15px;
    padding-top: 50px;
  }
}

@media (min-width: 1200px) {
  .info-cat {
    padding-top: 75px;
    margin-left: 8px;
  }
  .botones-menu {
    font-size: 15px;
    min-height: 320px;
  }
  .boton-menu {
    font-size: 15px;
    min-height: 70px;
    min-width: 140px;
    margin-bottom: 12px;
  }
  .barra-progreso {
    margin-bottom: 15px;
    min-height: 15px;
  }
  .experiencia {
    margin-top: 25px;
  }
}
